case row.status
    when 1: td(class='fa fa-check-square-o build-ok')
    when 2: td(class='build-in-progress')
                img(src='images/loader1.gif', width="20", heigh="20" class='center')
    when 3: td(class='fa fa-bug build-error')
    when 4: th(class='fa fa-question-circle build-missing')
