.build-error {
    color: darkred;
}
.build-ok {
    color: darkgreen;
}
.build-in-progress {
}
.build-missing {
    color: grey;
}
.fa {
   display: table-cell;
   text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px;
}
#wrapper {
    margin-top: 0px!important;
}