td
    a(href='job?job=' + row.jobLink + '&page=0')
        span(class='fa fa-code-fork')
    span= " "
    if row.hasJenkinsData
        span=row.name + " "
        a(href=row.jenkinsData.jobUrl, target="_blank")
            img(src='images/jenkins.png', width='20px', height='20px')
    else
        span=row.name
